<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="GeographyOpenAccessConnection" connectionString="data source=(local);initial catalog=nazwa_bazy_danych;persist security info=True;user id=uzytkownik;password=haslo" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
