<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
        <listeners>
            <add name="Remote Service Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RemoteServiceTraceListener, Microsoft.Practices.EnterpriseLibrary.Silverlight.Configuration.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RemoteServiceTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Silverlight.Configuration.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                loggingServiceFactory="BasicHttpBinding_ILoggingService" isolatedStorageBufferMaxSizeInKilobytes="256" />
        </listeners>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="Remote Service Trace Listener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Remote Service Trace Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
</configuration>
