<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenAccessSpatialConnection" connectionString="data source=(local);initial catalog=GeographyOpenAccess;persist security info=True;user id=issoft;password=issoft" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>